[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = git@github.com:alexgg/balena-yocto-scripts.git
[submodule "layers/poky"]
	path = layers/poky
	url = ssh://git@stash.digi.com/dey/poky.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = git@github.com:alexgg/meta-balena.git
[submodule "layers/oe-meta-go"]
	path = layers/oe-meta-go
	url = https://github.com/balena-os/oe-meta-go.git
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = git@github.com:alexgg/meta-freescale.git
[submodule "layers/meta-freescale-3rdparty"]
	path = layers/meta-freescale-3rdparty
	url = ssh://git@stash.digi.com/dey/meta-freescale-3rdparty.git
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = git@github.com:alexgg/meta-rust.git
